body {
  background: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-y: scroll;
}

body::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}

.primer {
  background-color: rgb(255, 183, 89) !important;
  color: #3e3e3e !important;
  letter-spacing: 5px;
}
.primer:hover {
  background-color: rgb(255, 203, 136) !important;
}

.seconder {
  background-color: brown !important;
  color: #f1f1f1 !important;
  letter-spacing: 5px;
}
.seconder:hover {
  background-color: rgb(166, 60, 60) !important;
}
.card {
  max-width: 250px;
  box-shadow: 0px 0px 23px 0px rgb(0, 0, 0);
  background-color: antiquewhite !important;
}

.card img {
  height: 250px;
  object-position: center;
}

h1 {
  color: #f1f1f1 !important;
  letter-spacing: 5px;
  font-size: 56px !important;
}

button {
  width: 50%;
  align-self: center;
}

span {
  color: darkslategrey;
}

.animation {
  animation: mymove 1.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes mymove {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

.skeleton-card {
  height: 340px !important;
  max-width: 250px;
  background: linear-gradient(
    135deg,
    antiquewhite 25%,
    rgb(255, 226, 188) 50%,
    antiquewhite 75%
  );
  background-size: 200% 100%;
  animation: loading 1s infinite;
  margin-top: 30px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeleton-img {
  height: 73%;
  width: 100%;
  border-radius: 10px;
}

